In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("advertising.csv")
df.shape

(200, 4)

In [3]:
df.head()

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3   12.0
3  151.5   41.3       58.5   16.5
4  180.8   10.8       58.4   17.9

In [4]:
data = df.to_numpy()

In [5]:
# Câu hỏi 15: Lấy giá trị lớn nhất và chỉ mục tương ứng của nó trên cột Sales:

In [11]:
max_value = data[:, 3].max()
max_index = list(data[:, 3]).index(max_value)
print("Max: ", max_value, " - Index: ", max_index)

Max:  27.0  - Index:  175

In [18]:
# -> c)

In [19]:
# Câu hỏi 16: Giá trị trung bình của cột TV là:

In [21]:
avg_val = data[:, 0].mean()
print("Average: ", avg_val)

Average:  147.0425

In [22]:
# -> b)

In [23]:
# Câu hỏi 17: Số lượng bản ghi có giá trị tại cột Sales lớn hơn hoặc bằng 20 là:

In [26]:
condition = data[:, 3] >= 20
data[:, 3][condition].shape[0]

40

In [27]:
# -> a)

In [28]:
# Câu hỏi 18: Tính giá trị trung bình của cột Radio thoả mãn điều kiện giá trị tương ứng
# trên cột Sales lớn hơn hoặc bằng 15:

In [29]:
condition = data[:, 3] >= 15
avg_val = data[:, 1][condition].mean()
print("Average: ", avg_val)

Average:  26.22293577981651

In [30]:
# -> b)

In [31]:
# Câu hỏi 19: Tính tổng các hàng của cột Sales với điều kiện giá trị Newspaper lớn hơn
# giá trị trung bình của cột Newspaper:

In [32]:
condition = data[:, 2] > data[:, 2].mean()
sum_val = data[:, 3][condition].sum()
print("Sum: ", sum_val)

Sum:  1405.1

In [33]:
# -> c)

In [34]:
# Câu hỏi 20: Gọi giá trị trung bình của cột Sales là A. Tạo ra mảng mới scores chứa các
# giá trị Good, Average và Bad sao cho: nếu giá trị hiện tại > A => giá trị trong mảng mới
# là Good, < A thì sẽ là Bad và = A sẽ là Average. Sau đó in ra kết quả scores[7:10]

In [35]:
A = data[:, 3].mean()
scores = []
for i in range(data.shape[0]):
    if data[i, 3] > A:
        scores.append("Good")
    elif data[i, 3] < A:
        scores.append("Bad")
    else:
        scores.append("Average")

print(scores[7:10])

['Bad', 'Bad', 'Good']

In [36]:
# -> c)

In [37]:
# Câu hỏi 21: Gọi giá trị trên cột Sales gần nhất với giá trị trung bình cũng chính cột
# Sales là A. Tạo ra mảng mới scores chứa các giá trị Good, Average và Bad sao cho: nếu
# giá trị hiện tại > A => giá trị trong mảng mới là Good, < A thì sẽ là Bad và = A sẽ là
# Average. Sau đó in ra kết quả scores[7:10]

In [52]:
avg_val = data[:, 3].mean()
diff_val = abs(data[:, 3] - avg_val)
closest_index = diff_val.argmin()  # index of the closest value to the average value
A = data[:, 3][closest_index]
print(f"Closest value of Sales to the average value {avg_val}: ", A)

Closest value of Sales to the average value 15.130500000000001:  15.2

In [53]:
scores = []
for i in range(data.shape[0]):
    if data[i, 3] > A:
        scores.append("Good")
    elif data[i, 3] < A:
        scores.append("Bad")
    else:
        scores.append("Average")

print(scores[7:10])

['Bad', 'Bad', 'Good']

In [ ]:
# -> c)